* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: black;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app {
  min-height: calc(100vh + 300px);
  width: 100%;
  background-color: white;
}

.hero {
  height: 330px;
  width: 100%;
  background-image: url(../images/blue1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  height: 50px;
  background-color: #387a4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav a {
  text-decoration: none;
  color: #fff;
}

footer {
  height: 50px;
  color: white;
  background-color: #9b1414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.content {
  padding: 50px;
}
.content h1 {
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.content h2 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.content .products {
  width: 900px;
  min-height: 50px;
  margin: 0 auto;
}
.content .products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.content .products .product .home-images .home-image1 {
  height: 200px;
  width: 175px;
  background-image: url(../images/blue2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .home-images .home-image2 {
  height: 200px;
  width: 175px;
  background-image: url(../images/wall1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .home-images .home-image3 {
  height: 200px;
  width: 175px;
  background-image: url(../images/event1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .products .product .about-images h3 {
  font-size: 35px;
  font-style: italic;
}
.content .products .product .about-images p {
  margin-bottom: 50px;
}
.content .products .product .about-images .about-image1 {
  height: 225px;
  width: 475px;
  background-image: url(../images/blue2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .about-images .about-image2 {
  height: 225px;
  width: 475px;
  background-image: url(../images/about1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .about-images .about-image3 {
  height: 225px;
  width: 475px;
  background-image: url(../images/about3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .about-images .about-image4 {
  height: 225px;
  width: 475px;
  background-image: url(../images/about4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .supplies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -150px;
}
.content .products .product .supplies .supplies-image1 {
  height: 200px;
  width: 250px;
  background-image: url(../images/supp1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  margin-right: 15px;
}
.content .products .product .supplies .supplies-image2 {
  height: 200px;
  width: 250px;
  background-image: url(../images/supp2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  margin-right: 15px;
}
.content .products .product .supplies .supplies-image3 {
  height: 200px;
  width: 250px;
  background-image: url(../images/supp2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  margin-right: 15px;
}
.content .products .product .supplies .supplies-image4 {
  height: 200px;
  width: 250px;
  background-image: url(../images/supp3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  margin-right: 15px;
}
.content .products .product .supplies .supplies-image5 {
  height: 200px;
  width: 250px;
  background-image: url(../images/supp5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  margin-right: 15px;
}
.content .products .product .event-images {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.content .products .product .event-images h3 {
  font-size: 45px;
  text-align: center;
}
.content .products .product .event-images p {
  margin-bottom: 50px;
  text-align: center;
}
.content .products .product .event-images .event-image1 {
  height: 300px;
  width: 100%;
  background-image: url(../images/event1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .event-images .event-image2 {
  height: 300px;
  width: 100%;
  background-image: url(../images/event2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .event-images .event-image3 {
  height: 300px;
  width: 100%;
  background-image: url(../images/event3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .event-images .event-image4 {
  height: 300px;
  width: 100%;
  background-image: url(../images/event4.jpg.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.content .products .product .prod-desc {
  text-align: center;
  margin-top: 300px;
  position: absolute;
  left: 0px;
}
.content .products .product .home-desc {
  max-height: 350px;
  max-width: 550px;
  margin-bottom: 100px;
}
.content .products .product .home-desc h2 {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}