.content{
    padding: 50px;

    h1{
        font-size: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        align-items: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 250px;
        margin-top: -300px;
        color: rgb(5, 99, 44);
    }

    h2{
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        align-items: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }


    .products{
        width:900px;
        min-height: 50px;
        margin: 0 auto;
        
        .product{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .home-images{
                

                .home-image1{
                    height: 250px;
                    width: 900px;
                    background-image: url(../images/lasagna.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 35px;
                    
                }
    
                .home-image2{
                    height: 250px;
                    width: 900px;
                    background-image: url(../images/cater1.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 35px;
                }
    
                .home-image3{
                    height: 250px;
                    width: 900px;
                    background-image: url(../images/italy.jpeg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                }
            }

            .menu-images{
                position: absolute;

                h3{
                    font-size: 60px;
                    font-style: italic;
                }

                p{
                    margin-bottom: 50px;
                }

                .menu-image1{
                    height: 330px;
                    width: 535px;
                    background-image: url(../images/spag.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 50px;
                    margin-left: 550px;
                    margin-top: -1600px;
                    
                }
    
                .menu-image2{
                    height: 330px;
                    width: 535px;
                    background-image: url(../images/alfredo.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 50px;
                    margin-left: 550px;
                    
                }
    
                .menu-image3{
                    height: 330px;
                    width: 535px;
                    background-image: url(../images/anti.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 50px;
                    margin-left: 550px;
                    
                }

                .menu-image4{
                    height: 330px;
                    width: 535px;
                    background-image: url(../images/pizza.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 50px;
                    margin-left: 550px;
                    
                }
            }

            
                
            .cater{
                
                display: flex;
                margin-left: -200px;
                
                
            
                .cater-image1{
                    height: 300px;
                    width: 450px;
                    background-image: url(../images/cater2.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 20px;
                    margin-right: 15px;
                    
                }
    
                .cater-image2{
                    height: 350px;
                    width: 350px;
                    background-image: url(../images/cater4.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 20px;
                    margin-right: 55px;
                    margin-left: 55px;
                    margin-top: -25px;
                }
    
                .cater-image3{
                    height: 300px;
                    width: 450px;
                    background-image: url(../images/cater3.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 20px;
                    margin-right: 15px;
                }

            }

            .loc-images{
                align-items: center;
                justify-content: center;
                position: relative;
                

                h3{
                    font-size: 60px;
                    text-align: center;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    color: rgb(155, 20, 20);
                }

                p{
                    margin-bottom: 50px;
                    text-align: center;
                    font-family:'Times New Roman', Times, serif;
                }

                .loc-image1{
                    height: 455px;
                    width: 100%;
                    background-image: url(../images/location3.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 30px;
                    
                }
    
                .loc-image2{
                    height: 375px;
                    width: 100%;
                    background-image: url(../images/location1.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 30px;
                }
    
                .loc-image3{
                    height: 375px;
                    width: 100%;
                    background-image: url(../images/location2.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 30px;
                    
                }
            }

            .prod-desc{
                text-align: center;
                min-width: 700px;
                max-width: 1000px;
                position: absolute;
                margin-top: 400px;
                
                
                
            }

                
            

            .home-desc{
                max-height: 450px; 
                max-width: 1000px;
                margin-bottom: 70px;
                justify-content: center;
                align-items: center;


                h2{
                    font-size: 30px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-style: italic;
                    margin-bottom: 30px;
                }

                p{
                    font-size: 18px;
                    margin-bottom: 50px;
                    font-family:'Times New Roman', Times, serif;
                }
                
            }

            .menu-desc{
                max-height: 350px; 
                max-width: 500px;
                margin-bottom: 100px;
                justify-content: center;
                align-items: center;

                p{
                    margin-bottom: 120px;
                }

                h3{
                    font-size: 45px;
                }
            }
        }
    }
}